@media (min-width: 1500px) {}

@media (max-width: 1200px) {}

@media (max-width: 1024px) {}

@media (max-width: 991px) {
    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        width: 100%;
        max-width: 100%;
        flex: auto;
    }
    .head-top .info-top p,
    .head-top .nav-head ul {
        display: none;
    }
    .header-top .col-md-2.col-sm-12 {
        max-width: 30%;
    }
    .header-top .col-md-10.col-sm-12 {
        max-width: 70%;
    }
    .head-top .nav-head .menu-right .lang {
        margin: 0 10px;
    }
    .head-top .nav-head .menu-right .lang i {
        display: none;
    }
    .item.res-menu {
        display: block;
        margin-inline-start: 5px;
    }
    .btn-req {
        min-width: auto;
        display: none;
    }
    .header-top .row {
        justify-content: space-between;
        align-items: center;
    }
    .head-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .head-top .nav-head {
        padding: 0 !important;
        justify-content: flex-end;
    }
    .mobile-nav-toggler i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .slider-block .text-slider h1 {
        font-size: 28px;
        margin: 0 0 10px;
    }
    .slider-block .text-slider p {
        font-size: 14px;
        margin: 10px 0;
    }
    .btn,
    .btn.btn-white {
        min-width: 100px;
        padding: 5px 20px;
        min-height: 35px;
        font-size: 12px;
    }
    .slider-block,
    .slider-block .row {
        min-height: 400px;
    }
    .slider-block .text-slider {
        padding-top: 80px;
    }
    .home-slider .owl-dots {
        display: none;
    }
    .s-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 10px;
        flex-direction: column;
    }
    .s-nav a {
        border-color: var(--main-color);
        /* color: var(--main-color); */
        margin: 2px 0;
        background: var(--main-color);
        font-size: 16px;
    }
    .logo,
    .logo img {
        max-height: 60px;
    }
    .head-top .info-top {
        padding: 0;
    }
    .all-count #timer .count-block {
        padding: 10px;
        font-size: 18px;
    }
    .all-count #timer .count-block span {
        font-size: 18px;
        margin: 10px 0 0;
    }
    .counter-h {
        padding: 30px 0 0;
    }
    .about-h {
        padding: 45px 0;
    }
    .sticky.active .header-top {
        padding: 8px 0;
    }
    .sticky.active .logo,
    .sticky.active .logo img {
        max-height: 40px;
    }
    .title h3 {
        font-size: 25px;
        /* padding-inline-start: 30px; */
    }
    .title h3::before {
        width: 20px;
        height: 32px;
    }
    .title {
        margin: 0 0 20px;
    }
    .text-about p {
        font-size: 14px;
        margin: 10px 0;
    }
    .all-items-about .item .item-block .icon {
        width: 80px;
        height: 80px;
        line-height: 60px;
    }
    .all-items-about .item {
        padding-inline-end: 20px;
    }
    .all-items-about .item .item-block .details {
        padding: 10px 0 0;
    }
    .all-items-about .item .item-block .details h3 {
        font-size: 16px;
    }
    .all-items-about {
        margin: 30px 0;
    }
    .img-about {
        right: auto !important;
        left: auto !important;
        width: 100%;
        height: 300px;
    }
    .services-h {
        padding: 0 0 40px;
    }
    .services-h .title {
        margin: 0 auto 20px;
    }
    .all-serv .Item {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0 10px;
    }
    .serv-block .img-block {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    .serv-block {
        margin: 15px 0;
    }
    .serv-block .details {
        padding: 15px 0 0;
    }
    .serv-block .details h3 {
        font-size: 15px;
    }
    .all-serv {
        justify-content: center;
    }
    .location-h .img-about {
        margin-bottom: 30px;
    }
    .spaces-search {
        padding: 25px;
    }
    .spaces-search p {
        font-size: 13px;
        margin: 0;
    }
    .spaces-search .form-group {
        margin: 15px 0;
    }
    .spaces-search .details-spaces {
        padding: 10px 0;
    }
    .spaces-search .details-spaces ul li {
        font-size: 13px;
        margin: 15px 0;
    }
    .spaces-block {
        padding: 20px;
        margin: 25px 0 0;
        height: 350px;
    }
    .spaces-block .logo-spaces {
        width: 40px;
        height: 70px;
        margin: 20px;
    }
    .gallery-h {
        padding: 40px 0;
    }
    .all-gallery .item {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .owners-h {
        padding: 40px 0;
    }
    .owner-block {
        min-height: 80px;
        padding: 20px;
    }
    .owner-block .block-inner h3 {
        font-size: 15px;
    }
    .logo-owners {
        width: 63px;
        height: 93px;
        margin: 0 auto 15px;
    }
    .download-h {
        padding: 30px 0;
    }
    .download-inner .down-block {
        margin: 10px;
    }
    .footer-top {
        padding: 30px 0;
    }
    .logo-f a {
        /* width: 73px; */
        /* height: 104px; */
        margin: 0 0 15px;
    }
    .foot-col {
        margin: 15px 0;
    }
    .foot-col p {
        font-size: 12px;
    }
    .foot-col h3 {
        font-size: 18px;
    }
    .foot-col .info-f li,
    .foot-col .info-f li a {
        font-size: 14px;
    }
    .foot-col .info-f li {
        margin: 15px 0;
    }
    .foot-col .s-foot {
        margin: 25px 0 0;
    }
    .barCode {
        width: 100px;
        height: 102px;
    }
    .footer-bottom {
        text-align: center;
    }
    .capy-right {
        margin-top: 20px;
    }
    .capy-right p {
        font-size: 13px;
    }
    .ryad-logo {
        float: none !important;
    }
    .head-top .nav-head .menu-right .links-h a i,
    .search-box-btn.search-box-outer {
        width: 25px;
        height: 25px;
        line-height: 25px;
        margin: 0 3px;
        font-size: 10px;
    }
    .about-h .container .row {
        margin-top: 0;
    }
    .products-h,
    .news-h {
        padding: 40px 0;
    }
    .products-slider .owl-nav {
        width: 100%;
        right: 0;
        left: 0;
    }
    .pro-block {
        height: 350px;
    }
    .about-page .big-img img {
        height: auto;
        border-radius: 10px;
    }
    .about-page .col-md-6,
    .about-page .col-md-6.info {
        padding: 0 15px;
    }
    .big-img {
        margin: 0 0 30px;
    }
    .about-info {
        margin: 0;
        padding: 25px;
        border-radius: 10px;
    }
    .about-info h5 {
        font-size: 25px;
        line-height: normal;
        margin: 0 0 10px;
    }
    .about-info p {
        margin: 10px 0;
    }
    .body-inner {
        padding: 40px 0;
    }
    .about-more {
        padding: 0 0 40px;
    }
    .breadcrumb {
        min-height: 155px;
        padding: 100px 0 30px;
    }
    .breadcrumb .text-bread ul li {
        padding: 0 10px;
    }
    .breadcrumb .text-bread ul li a,
    .breadcrumb .text-bread ul li span {
        font-size: 15px;
    }
    .breadcrumb .text-bread ul li a::after {
        font-size: 15px;
    }
    .products-page .row {
        flex-direction: column-reverse;
    }
    .cat-title {
        margin: 30px 0 0;
    }
    .searchbtn {
        margin: 30px 0 0;
    }
    .products-page .block-data .row {
        flex-direction: inherit;
    }
    .pagination {
        margin: 10px 0 30px;
    }
    .banner-slider .col-sm-3,
    .banner-slider .col-sm-9 {
        padding: 0 15px;
    }
    .slider.slider-for {
        margin: 30px 0 0;
    }
    .slider-banner-image img {
        height: 300px;
    }
    .thumbImg {
        margin: 0 2px;
    }
    .contact-form {
        padding: 25px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 767px) {}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 480px) {}

@media (max-width: 390px) {}

@media (max-width: 360px) {}